<table class="table">
  <thead>
    <th>Order Number</th>
    <th>Created</th>
    <th>Billing Address</th>
    <th>Shipping Address</th>
    <th>Items</th>
    <th>Influencer</th>
    <th>Tracking Service</th>
    <th>Tracking Number</th>
    <th>Tracking Created</th>
  </thead>
  <tbody>
    <% @table.each do |line| %>
      <tr>
        <td><%= line.order_number %></td>
        <td><%= line.processed_at %></td>
        <td><%= line.formatted_billing_address %></td>
        <td><%= line.formatted_shipping_address %></td>
        <td><%= line.formatted_line_items %></td>
        <td><%= line.influencer_name %></td>
        <td><%= line.carrier %></td>
        <td><%= line.tracking_number %></td>
        <td><%= line.tracking_created %></td>
      </tr>
    <% end %>
  </tbody>
</table>
